<div class="container">
  <div class="event-dates-wrapper">
    <div class="event-dates">
      <div class="event-dates-header">
        Upcoming Events
      </div>

      <div class="event-info">
        04/01/2022 - Gdańsk
      </div>

      <div class="event-info">
        03/02/2022 - Gdańsk
      </div>

      <div class="event-info">
        XX/XX/2022 - Gdańsk <br>
        Main Event
      </div>
    </div>
  </div>

  <div class="responsive-container">
    <div class="layer layer-1"></div>
    <div class="layer layer-2" appParallax [ySpeed]="-1"></div>
    <div class="layer layer-3" appParallax [ySpeed]="-7"></div>
    <div class="layer layer-4" appParallax [ySpeed]="-5"></div>
    <div class="text-layer layer-5" appParallax [ySpeed]="5">
      <div class="text">
        przestrzeń łącząca investorów, przedsiębiorców <br>
        kolekcjonerów kryptowalut oraz NFT.
      </div>
    </div>
    <div class="comet comet-right-1" appParallax [ySpeed]="20" [xSpeed]="-19"></div>
    <div class="comet comet-right-2" appParallax [ySpeed]="18" [xSpeed]="-16"></div>
    <div class="comet comet-right-3" appParallax [ySpeed]="30" [xSpeed]="-24"></div>
    <div class="comet comet-right-4" appParallax [ySpeed]="25" [xSpeed]="-14"></div>
    <div class="comet comet-right-5" appParallax [ySpeed]="22" [xSpeed]="-12"></div>
    <div class="comet comet-right-6" appParallax [ySpeed]="28" [xSpeed]="-18"></div>
    <div class="comet comet-right-7" appParallax [ySpeed]="21" [xSpeed]="-17"></div>

    <div class="layer layer-cover"></div>
  </div>
</div>

<div class="company-information-wrapper">
  <div class="company-information">
    <div class="company-information-content">
      <div class="company-information-content-wrapper">

        <div class="company-information-text-box">
          <div class="text-header">Cyber City</div>
          <div class="text-description">
            Przestrzeń łącząca inwestorów, przedsiębiorców <br>
            kolekcjonerów kryptowalut oraz NFT.
          </div>
        </div>

        <div class="company-information-text-box">
          <div class="text-header">Cyber Talk</div>
          <div class="text-description">
            Prelegenci, debaty, dyskusje, <br>
            możliwość dołączenia do WL.
          </div>
        </div>

        <div class="company-information-text-box">
          <div class="text-header">Cyber City Main</div>
          <div class="text-description">
            Pierwszy w Polsce festiwal krypto / NFT, a w nim: <br>
            Koncery, dropy NFT, wystawy sztuki, wykłady
          </div>
        </div>

        <button class="button-primary"> TICKETS</button>
      </div>
    </div>
    <div class="company-information-image"></div>
  </div>
</div>
