<div class="container">
  <div class="event-dates-wrapper">
<!--    <div class="event-dates" appParallax [factor]="4">-->
    <div class="event-dates">
      <div class="event-dates-header">
        Upcoming Events
      </div>

      <div class="event-info">
        04/01/2022 - Gdańsk
      </div>

      <div class="event-info">
        03/02/2022 - Gdańsk
      </div>

      <div class="event-info">
        XX/XX/2022 - Gdańsk <br>
        Main Event
      </div>
    </div>
  </div>



  <div class="layer layer-1"></div>
  <div class="layer layer-2" appParallax [factor]="-1"></div>
  <div class="layer layer-3" appParallax [factor]="-3"></div>
  <div class="layer layer-4" appParallax [factor]="-4"></div>
  <div class="text-layer layer-5" appParallax [factor]="5">
    <div class="text">
      przestrzeń łącząca investorów, przedsiębiorców <br>
      kolekcjonerów kryptowalut oraz NFT.
    </div>
  </div>
  <div class="layer layer-cover"></div>
</div>

<div class="company-information-wrapper">
  <div class="company-information">
    <div class="company-information-content">
      <div class="company-information-content-wrapper">

        <div class="company-information-text-box">
          <div class="text-header">Cyber City</div>
          <div class="text-description">
            Przestrzeń łącząca inwestorów, przedsiębiorców <br>
            kolekcjonerów kryptowalut oraz NFT.
          </div>
        </div>

        <div class="company-information-text-box">
          <div class="text-header">Cyber Talk</div>
          <div class="text-description">
            Prelegenci, debaty, dyskusje, <br>
            możliwość dołączenia do WL.
          </div>
        </div>

        <div class="company-information-text-box">
          <div class="text-header">Cyber City Main</div>
          <div class="text-description">
            Pierwszy w Polsce festiwal krypto / NFT, a w nim: <br>
            Koncery, dropy NFT, wystawy sztuki, wykłady
          </div>
        </div>

        <button class="button-primary"> TICKETS </button>
      </div>
    </div>
    <div class="company-information-image">  </div>
  </div>
</div>
